@import "tailwindcss";

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Default: no animation */
.custom-scroll-animation {
  animation: none;
  transform: none;
}

/* Enable animation only on screens ≥ 640px */
@media (min-width: 640px) {
  .custom-scroll-animation {
    animation: scroll-right 20s linear infinite;
  }
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeup {
  animation: fadeup 0.6s ease-out forwards;
}

.fadedown {
  animation: fadedown 0.6s ease-out forwards;
}

