@import "tailwindcss";

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Default: no animation */
.custom-scroll-animation {
  animation: none;
  transform: none;
}

/* Enable animation only on screens ≥ 640px */
@media (min-width: 640px) {
  .custom-scroll-animation {
    animation: scroll-right 20s linear infinite;
  }
}
